@charset "UTF-8";

/* Import ET Book styles */
@font-face {
  font-family: "et-book";
  src: url("assets/font/et-book-roman-line-figures.eot");
  src: url("assets/font/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"),
    url("assets/font/et-book-roman-line-figures.woff") format("woff"),
    url("assets/font/et-book-roman-line-figures.ttf") format("truetype"),
    url("assets/font/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* General Typography Overrides */
html {
  scroll-behavior: smooth;
}

body {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: #151515 !important;
  color: #ddd;
  counter-reset: sidenote-counter;
}



/* Sidenotes and Marginnotes */
.sidenote {
  float: right;
  clear: right;
  width: 35%;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #555;
  position: relative;
  line-height: 1.5;
}

.sidenote-number {
  counter-increment: sidenote-counter;
  vertical-align: super;
  font-size: 0.8rem;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  color: #999;
}

.margin-toggle {
  display: none;
}

/* Figures */
figure {
  margin: 1rem 0;
}

figcaption {
  font-size: 0.9rem;
  color: #555;
}

/* Typography */
blockquote {

}

code {

}

pre code {
