<!DOCTYPE html>
<html lang="en-us" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tufte Bootstrap</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/et-font.css">
  <link rel="stylesheet" href="/assets/css/et-bootstrap.css">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
</head>

<body class="bg-dark text-light container">
  {% include navigation.html %}
  <article class="row fs-4">
    <header class="col-md-8" style="padding-top:20px">
      <h1 class="display-4">{{ page.title }}</h1>
      <p class="h3 fst-italic mb-5">{{ page.subtitle }}</p>
    </header>
    <section class="col-md-8 mt-4">
      {{ content }}
    </section>

  </article>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
